<template>
<v-app class="secondary">
  <v-content>
 <router-view></router-view>
 </v-content>
</v-app>
</template>

<script>
export default {

}
</script>

<style scoped>
/* .container--fluid {
  height: 100vh;
} */
</style>>