<template>
<v-row class="fill--hieght" justify="center" align="center">
        <v-btn color="primary" class="text-h2 padding" elevation="0">
            generate a cat! 😾
        </v-btn>

        </v-row>
</template>

<script>
export default {
name:'Home'
}
</script>

<style scoped>
.fill--hieght {
  height: 100%;
}
.padding {
    padding: 80px !important;
}
</style>